<div class="container">
  <h1 class="text-center" style="padding: 50px;">Welcome - Google reCAPTCHA v3</h1>

  <div class="card">
    <h4 class="card-header">Register</h4>
    <p class="text-center" style="color: red; padding: 10px; font-weight: bold;">{{errorResponse}}</p>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" [class.is-invalid]="submitted && f['firstName'].errors" />
          @if (submitted && f['firstName'].errors) {
            <div class="invalid-feedback">
              @if (f['firstName'].errors['required']) {
                <div>First Name is required</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" [class.is-invalid]="submitted && f['lastName'].errors" />
          @if (submitted && f['lastName'].errors) {
            <div class="invalid-feedback">
              @if (f['lastName'].errors['required']) {
                <div>Last Name is required</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [class.is-invalid]="submitted && f['username'].errors" />
          @if (submitted && f['username'].errors) {
            <div class="invalid-feedback">
              @if (f['username'].errors['required']) {
                <div>Username is required</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" [class.is-invalid]="submitted && f['email'].errors" />
          @if (submitted && f['email'].errors) {
            <div class="invalid-feedback">
              @if (f['email'].errors['required']) {
                <div>Email is required</div>
              }
              @if (f['email'].errors['email']) {
                <div>mail address is invalid</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [class.is-invalid]="submitted && f['password'].errors" />
          @if (submitted && f['password'].errors) {
            <div class="invalid-feedback">
              @if (f['password'].errors['required']) {
                <div>Password is required</div>
              }
              @if (f['password'].errors['minlength']) {
                <div>Password must be at least 6 characters</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input type="password" formControlName="passwordConfirmation" class="form-control" [class.is-invalid]="submitted && f['passwordConfirmation'].errors" />
          @if (submitted && f['passwordConfirmation'].errors) {
            <div class="invalid-feedback">
              @if (f['passwordConfirmation'].errors['required']) {
                <div>Password confirmation is required</div>
              }
              @if (f['passwordConfirmation'].errors['minlength']) {
                <div>Password confirmation must be at least 6 characters</div>
              }
            </div>
          }
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <button [disabled]="loading" class="btn btn-primary">
            @if (loading) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Register
          </button>
        </div>
      </form>
    </div>
  </div>

</div>